@import "../../css/colors.css";

section {
    text-align: center;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    color: white;
    height: 53px;
}

.primary-button {
    background-color: white;
    color: $looks-secondary !important;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}

.button {
    background-color: $motion-tertiary;
    color: white;
    border-radius: 8px;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    color: black;
    background-color: rgb(163, 163, 163);
}